<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">

	 <!-- <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none;" ng-click="goToBasket()">
        	<span class="badge badge-assertive" style="z-index:100; position:relative; left:20px;">{{BasketPrice}} &#8362;</span>
  		</a>
  </ion-nav-buttons> 
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px;  margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> -->
  
  
  <ion-content>

	<div ng-if="Gallery">
  			<ion-slide-box>
                  <ion-slide ng-repeat="item in Gallery">
                     <img ng-src="{{host}}/{{item.image}}"  style="width:100%" />
                  </ion-slide>
            </ion-slide-box>
    </div>
     <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/about/i7.jpg" ng-click="site()" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/about/i6.jpg" ng-click="facebook()" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/about/i3.jpg" ng-click="Video()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/about/i4.jpg" ng-click="Waze()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/about/i5.jpg" ng-click="dialPhone()"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>
       
        <div class="mainInfo" >
        	<div class="mainInfoText">
                <h3>{{Info.custumer_name}}</h3>
                <h3>כתובת: {{Info.address}}</h3>
                <h3>טלפון: {{Info.phone}}</h3>
                <h3>אתר אינטרנט: {{Info.site}}</h3>
             

            </div>
            <div class="orderButton" ng-if="Type == '1'" ng-click="SearchAppoint(5)"> 
            	<img  src="img/search_tor.png" style="width:100%; margin-top:-3px;" />
            </div>
       </div>
       
      <div ng-if="AboutText">
		<p ng-bind-html="AboutText | stripslashes:true" style="text-align:right; padding:5px;"></p>
    	</div>
    <div class="mainPageVideo" align="center" ng-repeat="item in Banners">
                <div class="mainPageVideoInsideDiv" style="margin-top:23px;">
                    <img src="{{host}}/{{item.image}}" style="width:100%" />
                </div>
        	</div>

 
 </ion-content>
 
 <script id="video-modal.html" type="text/ng-template" >
					<div style="width:100%;" align="center" ng-click="closeVideoModal()">
						  <div class="searchInput" align="center">
								 <div class="searchInputDiv">
								 		<div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeVideoModal()">סגירה</button>
    </div>
	
										<div >
											<div id="videoWrapper" class="videoWrapper" style="margin-top:200px; width:100%" align="center">
												<iframe id="VideoPlayer" width="80%" height="200" src="{{VideoLink}}" frameborder="0" allowfullscreen></iframe>
											</div>						
										</div>
										<div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeVideoModal()">סגירה</button>
    </div>
	
								 </div>
						  </div>  
  
					</div>
					<div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeVideoModal()">סגירה</button>
    </div>
	
          </script>

</ion-view>
