<ion-view view-title="{{navTitle}}" >



	<!--
    <ion-nav-buttons side="left">
       <a class="item-icon-right headerIcons" style="left:20px"   href="#" ng-if="userId"> 	
             <i class="icon ion-ios-plus-empty"></i> 
  		</a>

		<div class="saveButton" style="width:100%; margin-top:0px;" ui-sref="app.login()" ng-if="userId == ''">
				התחברות
		</div>
		<div class="saveButton" style="width:100%; margin-top:0px;"  ui-sref="app.register()" ng-if="userId == ''">
				הרשמה
		</div>		
        <a class="item-icon-right headerIcons" href="#" ng-click="ShowRightMenu()" ng-if="userId"> 
        	<i class="icon ion-ios-email-outline"></i> 	
  		</a>
        <a class="item-icon-right headerIcons" style="left:0px" href="#"  ng-click="ShowRightMenu()" > 
        	<i class="icon ion-ios-search"></i>	
  		</a>
    </ion-nav-buttons> 
  -->
  <ion-content class="content">
    <ion-list>
	
	
       <div ng-repeat="Deal in Coupons">
	   
			<div ui-sref="app.coupondetails({ItemId: $index})">
				<div class="dealDiv">
					<img ng-src="{{host}}/{{Deal.image}}" style="width:100%; position:relative; top:0; left:0; z-index:0;"  />
					<div id="percent">
					<!--	<div id="percentImg">
						
						{{checkPercent(deal)}}
						{{Deal.discount_precent}}
						
							<p id="percentText">&nbsp;{{checkPercent(Deal)}}% <br>הנחה</p>
							<img src="img/percent.png" />
						</div>-->
					</div>
					<div id="overlayImage">
						<div id="overImg"></div>
						<div id="overlayRight">
							<p id="dealInfo1">{{Deal.header | stripslashes:true}} </p>
							<div id="dealInfo3" style="font-size:18px;">
								 <span id="newPrice">{{Deal.old_price}}</span> <span id="oldPrice">{{Deal.price}} &#8362;</span>
							</div>
						</div>
						
						<div id="overlayLeft" style="">
							<img src="img/date.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
							<div id="dateText">
								<p id="dateText1">{{cutDate(Deal.deal_date)}}</p>
								<p id="dateText2">{{cutYear(Deal.deal_date)}}</p>
							</div>
						<div>
					</div>
				</div>
			 
			 </div>
	 </div>
	<!-- </div>-->
 </div>

		 
	   <!--
                <div class="list card" >
                  <div class="item item-body">
                    <a href="#/app/coupondetails/{{$index}}" class="subdued" style="padding:0px; margin:0px;" >
                    <img class="fullImage" ng-src="{{host+'/'+Deal.image}}">
                    <p class="cardDesc">{{Deal.title}}</p>
                    <div class="cardPrice">
                          <span id="oldPrice">{{Deal.price}} ש"ח</span> <span id="newPrice">{{Deal.old_price}} ש"ח</span>
                    </div>
                     </a>
                    <div class="cardLine"></div>
                    
                    <p class="cardIcons">
                      <a class="cardTitle" style="text-align:right; float:right;" >{{Deal.header}}</a>
                      <a href="#" class="subdued" style="margin-left:0px !important;">{{Deal.views}} <i class="icon ion-ios-eye-outline" style="font-size:20px; top:3px !important; position:relative;"></i> 
                      <a href="#" class="subdued" style="margin-left:8px !important;" >{{Deal.likes}} <i class="icon ion-ios-heart-outline" style="margin-right:1px !important;"></i> </a>
                      <a href="#" class="subdued" >232 <i class="icon ion-ios-pricetags-outline" style="margin-right:1px !important;"></i> </a>
                      
                    </p>
                   </a>
                  </div>
                </div>
		-->
       </div>
    </ion-list>
  </ion-content>
</ion-view>
