<ion-view view-title="">
  <ion-content>

	<div class="list">
	  <label class="item item-input">
		<span class="input-label">אימייל</span>
		<input type="email" ng-model="forgot.email">
	  </label>

	</div>

	<div class="padding">
        <button class="button button-block button-positive" ng-click="sendPassBtn()">שלח סיסמה</button>

      </div>


  </ion-content>
</ion-view>
