<ion-view view-title="" hide-nav-bar="true">
	<!-- <ion-footer-bar align-title="left" style="height:75px" >
    	  <div  style="width:100%; overflow:hidden" align="center" >
				
                <div style="float:left; width:50%">
                	<button class="button button-block button-positive" style="background-color:#282828 !important; width:90%; height:50px;" ng-click="getDetails()" >התחברות</button>
                </div>
                <div style="float:right; width:50%">
              		<button class="button button-block button-positive" style="background-color:#3a5a98 !important; width:90%; height:50px;" ng-click="exampleStore()" >צפה בחנות לדוגמא</button>
                </div>
			</div>
	</ion-footer-bar>


  <ion-content style="background-color:#f4f4f4">
    <div class="loginLogo" align="center">
    	<div>
    		<img src="img/istock1.png" style="width:100%;" />
        </div>
        
      <div class="PackageFormDiv" style="width:90%">
        	<input type="text"  class="PackageFormText" placeholder="חפש חנות"  ng-model="data.search" ng-change="search()">
      </div>
        
      <div class="list" ng-if="showCustomers == 1" style="width:90%; border:none ">
        <li class="item" ng-repeat="customer in data.customers" ng-click="itemClicked(customer.name,customer.index)">{{customer.name}}</li>
      </div>
       <!-- store.id <label class="item-input-wrapper PackageFormDiv" style="width:90% !important; text-align:right; direction:rtl">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="חפש חנות" ng-change="search()" ng-model="data.search">
  		</label>
  
  
        
    </div>
	
	<div style="width:100%;" align="center">
        <div style="width:90%; margin-top:10px;">
            <!-- <button class="button button-block button-positive" style="background-color:#282828 !important" ng-click="getDetails()">התחברות</button>
            <button class="button button-block button-calm" style="background-color:#3b5998 !important" ui-sref="app.register()">הרשמה</button> -->
          
           <!--  <div ui-sref="app.forgot()"><span style="border-bottom:1px solid #333">שכחתי סיסמא</span></div>
    	</div>
	</div>-->

  </ion-content>
</ion-view>

