<ion-view view-title="" hide-nav-bar="true">
  <ion-content style="background-color:#f4f4f4">
    <div class="loginLogo" align="center">
    	<div>
    		<img src="img/istock.png" style="width:100%;" />
        </div>
        
        <div class="PackageFormDiv" style="width:90%">
        	<input type="text"  class="PackageFormText" placeholder='כתובת דוא"ל'  ng-model="login.email" >
            <input type="password" class="PackageFormText" placeholder="סיסמה"  ng-model="login.password"  >
        </div>
        
    </div>
	
	<div style="width:100%;" align="center">
        <div style="width:90%; margin-top:40px;">
            <button class="button button-block button-positive" style="background-color:#282828 !important" ng-click="LoginBtn()">התחברות</button>
            <button class="button button-block button-calm" style="background-color:#3b5998 !important" ui-sref="app.register()">הרשמה</button>
            <div ng-click="FaceBookLoginBtn()">
				<img src="img/fac.png" style="height:70px; width:100%; margin-top:50px;">
			</div>
            <div ui-sref="app.forgot()"><span style="border-bottom:1px solid #333">שכחתי סיסמא</span></div>
    	</div>
	</div>

  </ion-content>
</ion-view>

