<ion-view view-title="{{navTitle}}" hide-back-button="true" cache-view="false">

	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 
<!--  
   <ion-footer-bar align-title="left" style="padding:0px; margin:0px; height:100px;">
         <table>
                    <tr>
                        <td ui-sref="app.contact()">
                            <img src="img/contact.png" style="width:100%" />
                        </td>
                        <td ui-sref="app.about()">
                            <img src="img/about.png" style="width:100%" />
                        </td>
                        <td ui-sref="app.orders()">
                            <img src="img/profile.png" style="width:100%" />
                        </td>
                    </tr>
                </table>
    </ion-footer-bar>
	
	margin-bottom:50px;"
	
-->
  <ion-content style="padding:0px; margin:0px; margin-bottom:-7px; background-color:#999 ">
  <!--
	<div>
    	<img src="img/sale1.png" style="width:100%" />
    </div>

    <div ui-sref="app.packageform()">
    	<img src="img/package.png" style="width:100%" />
    </div>
    <div ui-sref="app.products()">
    	<img src="img/send10.png" style="width:100%" />
    </div>
    <div ui-sref="app.shops()">
    	<img src="img/food.png" style="width:100%" />
    </div>
    <div ui-sref="app.specialrequests()">
    	<img src="img/special.png" style="width:100%" />
    </div>
    <div >
    	<img src="img/login.png" style="width:100%" />
    </div>
    <div ui-sref="app.packages()">
    	<img src="img/sales.png" style="width:100%" />
    </div>
    <div >
    	
    </div>  -->
   
    <div ng-repeat="item in catArray" ng-click="goProductPage(item.index,$index)">
    	 <img src="{{host}}/{{item.image}}" imageonload style="width:100%; margin-top:-4px;" />
     </div>
    
    <!--
<button class="button button-block button-positive" ui-sref="app.packages()">
  חבילות
</button>


<button class="button button-block button-positive" ui-sref="app.products()">
  מוצרים
</button>


<button class="button button-block button-positive" ui-sref="app.shops()">
  אוכל מהיר
</button>



<button class="button button-block button-positive" ui-sref="app.basket()">
   סל קניות
</button>



<button class="button button-block button-positive" ui-sref="app.specialrequests()">
   בקשות מיוחדות
</button>

<button class="button button-block button-positive" ui-sref="app.orderform()">
   קופה
</button>


<button class="button button-block button-positive" ui-sref="app.contact()">
   צור קשר
</button>

<button class="button button-block button-positive" ui-sref="app.about()">
   אודות
</button>
-->
  </ion-content>
</ion-view>
