<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right" >
        <button class="button button-icon button-clear ion-ios-gear-outline" style="margin-top:3px;" menu-toggle="right">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" style="margin-top:3px;" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  
  <ion-side-menu side="right" ng-if="catArray" >
  	
    <ion-header-bar class="bar-stable" style="background-color:black; padding:5px; padding-top:10px; padding-bottom:4px; color:white">
      <h1 class="title" style="text-align:right; color:white">הקטגוריות שלנו</h1>
    </ion-header-bar>
    <ion-content>
   
      <ion-list style="text-align:right;">
        <ion-item menu-close  ng-click="changeCatagory(item.index,$index)" ng-repeat="item in catArray" style="direction:rtl">
          {{item.name}}
        </ion-item>
      </ion-list>
	

    </ion-content>
    
  </ion-side-menu>

  
  <ion-side-menu side="left">
    
    <ion-content>
    	
        <div class="menuHeaderText" style="background-color:#000; padding:10px; padding-top:40px; padding-bottom:2px; ">
        	<p style="color:white; text-align:right">{{loggedinFullName}}</p>
            <p style="margin-top:-10px; color:white; text-align:right">{{email}}</p>
            <p style="margin-top:-10px; color:white; text-align:right">{{UserId}}</p>
        </div>
      <ion-list style="text-align:right;">
       
<!--
        <ion-item menu-close href="#/app/products">
          מוצרים
        </ion-item>
-->
		<ion-item menu-close href="#/app/main"  style="border-top:none!important;" >
        	<div style="left:30px; position:relative; text-align:right" >
          		<span style="top:-5px; margin-right:7px; position:relative">ראשי</span> <img src="img/menu_icons/home.png" style="width:12%; left:10px; " />
            </div>
        </ion-item>
        <ion-item menu-close href="#/app/about" style="border-color:white !important; margin-top:-25px;">
          <div style="left:30px; position:relative; text-align:right;">
          		<span style="top:-1px; margin-right:7px; position:relative">הפרופיל שלי</span> <img src="img/menu_icons/i4.png" style="width:12%; left:10px;  " />
            </div>
        </ion-item>
         <ion-item menu-close href="#/app/coupon" ng-click="" style="border-color:white !important; margin-top:-20px;">
          <div style="left:30px; position:relative; text-align:right;">
          		<span style="top:-6px; margin-right:7px; position:relative">קופונים</span> <img src="img/menu_icons/i8.png" style="width:12%; left:10px;  " />
            </div>
        </ion-item>
         <ion-item menu-close href="" ng-click="Reset()" style="border-color:white !important; margin-top:-20px;">
          <div style="left:30px; position:relative; text-align:right;">
          		<span style="top:-6px; margin-right:7px; position:relative">נקה עגלה</span> <img src="img/menu_icons/i7.png" style="width:12%; left:10px;  " />
            </div>
        </ion-item>
        <!-- <ion-item menu-close ng-click="Reset()" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:0px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">נקה עגלה</span> <img src="img/menu_icons/i5.png" style="width:12%; left:10px;  " />
                </div>
        </ion-item> 
         <ion-item menu-close href="" style="border-color:white !important;  margin-top:-24px;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-4px; margin-right:7px; position:relative">צור קשר</span> <img src="img/menu_icons/i5.png" style="width:12%; left:10px;  " />
                </div>
        </ion-item>-->
        <ion-item menu-close href="#" ng-click="LogOut()" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
         	 <span style="top:-4px; margin-right:7px; position:relative">התנתקות</span> <img src="img/menu_icons/i6.png" style="width:12%; left:10px;  " />
             </div>
        </ion-item>
       
      <!--   <ion-item menu-close href="#/app/orders">
          אזור אישי
        </ion-item>	
		
        <ion-item href="#" ng-click="showCatagories()">
          קטגוריות
        </ion-item>-->

      <!--  <ion-item menu-close href="#/app/popular">
          המבוקשים
        </ion-item> -->	

        
		
     
      </ion-list>
	  
	  <!--<div align="center" ng-if="userStatus">
	  <p>שלום : {{loggedinFullName}}</p>
<!--	  <p>סוג משתמש: {{userStatus}}</p>
	  </div> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
