<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">

	 <!-- <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none;" ng-click="goToBasket()">
        	<span class="badge badge-assertive" style="z-index:100; position:relative; left:20px;">{{BasketPrice}} &#8362;</span>
  		</a>
  </ion-nav-buttons> -->
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 
  


  <ion-content class="has-subheader;" style="" >
   
   <!--
  <img src="{{host}}/{{ProductData.image}}" ng-click="ShowImageModal(ProductData.image)" style="width:100%;">
  -->
        <div class="mainInfo" >
        	<h3>תאריך הזמנה: {{FormattedDate(orderData.date)}}</h3>
			<h3>כמות מוצרים: {{CartProducts.length}}</h3>
			<h3>מחיר: </h3>
			<h3>כתובת למשלוח: {{orderData.destination}}</h3>
			<h3>הערות: {{orderData.remarks}}</h3>
			<h3>סטטוס הזמנה : {{OrderStatus(orderData.status)}}</h3>
			
        </div>

	<div>
		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
	</div>
			
	 <div  ng-repeat="item in CartProducts" >
    	<div class="itemRow">

            <div class="infoCombo" style="width:80%;">
            	<h3>{{item.product[0].name | stripslashes:true}}</h3>
				<p>כמות : {{item.quan}}</p>
                <!-- <p>מחיר : {{item.new_price}} ש"ח</p> -->
            </div>
            <div class="infoImage">
            	<img src="{{host}}/{{item.product[0].image}}" ng-click="ShowImageModal(item.product[0].image)" style="width:100%">
            </div>
            <div>
        		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
        	</div>
        </div>
	 </div>



		
  </ion-content>
  
  <script id="image-modal.html" type="text/ng-template">
            <div style="width:100%;" align="center">
                <div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
                    <ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
                        <img ng-src="{{productImage}}" style="width:100%;">
                    </ion-scroll>
                </div>
            </div>
  </script>

		  
</ion-view>
