<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">
	
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 

  <div class="bar bar-footer" style=" height:105px; width:100%; padding:0;" >
		<div   ng-click="completeOrder()" >
			<img src="img/checkout.png" style="width:100%" />
		</div>
	</div>
  <ion-content style="background-color:#f4f4f4">
  	<div class="PackageForm" align="center">
    	<div class="PackageFormDiv">
            
            

        	<input type="tel" class="PackageFormText" placeholder="תעודת זהות"   ng-model="fields.id" >
            	
        	<input type="tel" class="PackageFormText" placeholder="מספר כרטיס אשראי"   ng-model="fields.credit" >

                <label class="item item-input item-select">
                    <div class="input-label">
                        חודש
                    </div>
                    <select>
                        <option selected>01</option>
                        <option >02</option>
                        <option>03</option>
						<option>04</option>
						<option>05</option>
						<option>06</option>
						<option>07</option>
						<option>08</option>
						<option>09</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        שנה
                    </div>
                    <select>
                        <option selected>2016</option>
                        <option >2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                    </select>
                </label>

				
            
            <textarea rows="4" cols="50" class="PackageFormText" placeholder="הערות" ng-model="fields.remarks"></textarea>
        
        

			

			
        </div>
        <div class="invitePay">
                <div class="invitePayLeft">
                    <p>{{DeliveryPrice}} ש"ח</p>
					<p>{{BasketPrice}} ש"ח</p>
					<p>{{TotalPrice}} ש"ח</p>					
                </div>
                <div class="invitePayRight">
                    <p>משלוח</p>
					<p>סל קניות</p>
					<p>לתשלום</p>					
                </div>
        </div>
        
    </div>


  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
