<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">
	
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 

  <div class="bar bar-footer" style=" height:105px; width:100%; padding:0;" >
		<div   ng-click="completeOrder()" >
			<img src="img/checkout.png" style="width:100%" />
		</div>
	</div>
  <ion-content style="background-color:#f4f4f4">
  	<div class="PackageForm" align="center">
    	<div class="PackageFormDiv">
            
            

        	<input type="email" class="PackageFormText" placeholder='כתובת דוא"ל'   ng-model="fields.id" >
            	
        	<input type="password" class="PackageFormText" placeholder="סיסמה"   ng-model="fields.credit" >


        </div>
        <div class="invitePay">
                <div class="invitePayLeft">
                    <p>{{DeliveryPrice}} ש"ח</p>
					<p>{{BasketPrice}} ש"ח</p>
					<p>{{TotalPrice}} ש"ח</p>					
                </div>
                <div class="invitePayRight">
                    <p>משלוח</p>
					<p>סל קניות</p>
					<p>לתשלום</p>					
                </div>
        </div>
        
    </div>


  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
