

<ion-view view-title="" hide-back-button="true" cache-view="false">

	<!--------------------------------------------------
    ---------------------  Header ----------------------
    --------------------------------------------------->
    
	 <ion-nav-buttons side="left" >
     	
            <a class="item-icon-right" href="#"  ui-sref="app.basket()" style="float:left;padding:0px; margin:0px; margin-top:5px; margin-left:5px; overflow:hidden">
                <img src="img/basketIcon.png" style="width:30px; float:left; " />
                <div class="" style="z-index:100;  top:5px; left:5px; color:#004d6e; margin-left:5px; margin-top:3px;  font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</div> 
            </a>
           <div style="color:black; float:left; font-size:20px; text-align:left; margin-top:5px; margin-left:-30px; width:250px; ">
           		<span style="float:left; font-size:35px; color:#333; font-weight:bold; width:30px; margin-top:2px;" ng-click="changePosition(0)"> &nbsp;< </span>
            	<span style="float:left">{{CatagoryName}}</span>
                <span style="float:left; font-size:35px; color:#333; font-weight:bold; width:30px; margin-top:2px;" ng-click="changePosition(1)"> &nbsp;> </span>
           </div>
       
        
	</ion-nav-buttons> 
    
 
	<!--------------------------------------------------
    ---------------------  SubHeader ----------------------
    --------------------------------------------------->
    
   <div class="bar bar-subheader" style="margin-top:0px; border:none !important;  background-color:#efefef !important; height:57px;" align="center">
       <div class="PackageFormDiv2" style="width:80%">
            <div class="item item-select" style="direction:rtl; text-align:right;">
					<select ng-model="fields.store" >
					  <option value="" style="direction:rtl; text-align:right;" selected>בחירת חנות</option>
					  <option ng-value="item.custumer_id" style="direction:rtl; text-align:right;" class="PackageFormText" ng-repeat="item in stores">{{item.name | stripslashes}}</option>
                    </select>
   			</div>

		

        </div>
	</div>
    
	<!--------------------------------------------------
    ---------------------  SubHeader ----------------------
    --------------------------------------------------->
  <ion-content  class="has-subheader;"   style=" margin-top:0px; margin-bottom:7px;" >
	<div style="width:100%;" align="center">
        <div style="width:90%; margin-top:70px;">
            <button class="button button-block button-positive" ng-click="showProducts()">הצג מוצרים</button>
    	</div>
	</div>
    
    
	 <ul  ng-repeat="item in popularProducts  | filter:productsearch" >
    	<li class="itemHalfRow">
        	<div class="listImageHolder" align="center">
            	<div class="listImage" align="center">
					<!-- <div style="height:200px; "> ng-click="ShowImageModal(item.image)"-->
        			<img src="{{host}}/{{item.image}}" imageonload ui-sref="app.details({Type: 'products', ItemId: item.index, CatagoryId: Category})"  style="width:100%; ">
					<!-- </div> -->
                    <div class="listImageinfoText">
                    	<h5 style="direction:rtl; height:35px;">{{item.name | stripslashes:true}}</h5>
                		<p style="margin-top:-4px; direction:rtl"> {{item.new_price}} &#8362</p>
                    </div>
					
                    <div class="infoButton" style="margin-top:0px; margin-left:0px; margin-bottom:20px; width:130px;" align="center">
                       <div class="infoButtonDv" style="padding-left:15px; width:30px; padding-right:15px" ng-click="changeQuan(1,item,$index)">+</div>
                       <div class="infoButtonDv" style="width:50px" >
                        <input type="tel" style="background:color:red; width:10px; text-align:center; height:20px;" ng-model="item.quan">
                       </div>
               			<div class="infoButtonDv" style="padding-left:15px; width:30px;  padding-right:15px" ng-click="changeQuan(0,item,$index)">-</div>
            		</div>	
                    <div class="viewDetails" ui-sref="app.details({Type: 'products', ItemId: item.index, CatagoryId: Category})">
                    	צפה בפרטים
                    </div>
                </div>
        	</div>
     		
        </li>
	 </ul>
  </ion-content>
  
  
  <!--------------------------------------------------
    ---------------------  Modal ----------------------
    --------------------------------------------------->
    
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
