<ion-view view-title="" hide-nav-bar="true">
  <ion-content style="background-color:#f4f4f4">

	<div class="loginLogo"  align="center">
    	<div>
    		<img src="img/istock.png" style="width:100%;" />
        </div>
        
         <div class="PackageFormDiv" style="width:90%">
        	<input type="text"  class="PackageFormText" placeholder="שם מלא"  ng-model="register.name" >
            <input type="text" class="PackageFormText" g-places-autocomplete force-selection="true" options="autocompleteOptions" placeholder="כתובת למשלוח"  ng-model="register.address"  >
            <input type="tel" class="PackageFormText" placeholder="טלפון"  ng-model="register.phone"  >
            <input type="text" class="PackageFormText" placeholder="אימייל"  ng-model="register.email"  >
			<!--
			<input type="text" class="PackageFormText" placeholder="שם משתמש"  ng-model="register.username"  >
			-->
            <input type="password" class="PackageFormText" placeholder="סיסמה"  ng-model="register.password"  >
            <input type="password" class="PackageFormText" placeholder="אישור סיסמה"  ng-model="register.password"  >
        </div>
	</div>
	<div style="width:100%;" align="center">
        <div style="width:90%; margin-top:30px;">
            <button class="button button-block button-positive" style="background-color:#282828 !important" ng-click="RegisterBtn()">היכנס</button>
			<!--
            <button class="button button-block button-positive" style="background-color:#19B2DB !important" ng-click="FaceBookLoginBtn()">הרשמה באמצעות פייסבוק</button>
			-->
            <button class="button button-block button-calm" style="background-color:#3b5998 !important" ui-sref="app.login()">חזור להתחברות</button>
            <div ui-sref="app.forgot()"><span style="border-bottom:1px solid #333">שכחתי סיסמא</span></div>
    	</div>
	</div>

  </ion-content>
</ion-view>
